<script type="text/css">.navig{display:none;}</script>
<link href="./app.site/app.css/estiloGeral.css" rel="stylesheet" type="text/css"/>
<section id="opcoes" class="container">
                <h5 id="tituloInfo" class="z-depth-2">Menu de Op&ccedil;&otilde;es</h5>
                <div class="row center">
                    <div class="col s12 m6 l4 center hoverable waves-effect waves-light">
                        <i class="material-icons medium" title="Cadastro de m&eacute;dicos..."
                           onclick="document.location = '?class=cadMedicos'">local_hospital</i>
                    </div>
                    <div class="col s12 m6 l4 center hoverable waves-effect waves-light">
                        <i class="material-icons medium" title="Cadastro de medicamentos..."
                           onclick="document.location = '?class=cadMedicamentos'">local_pharmacy</i>
                    </div>
                    <div class="col s12 m6 l4 center hoverable waves-effect waves-light">
                        <i class="material-icons medium" title="Cadastro de pacientes...">assignment_ind</i>
                    </div>
                    <div class="col s12 m6 l4 center hoverable waves-effect waves-light">
                        <i class="material-icons medium" title="Cadastro de usu&aacute;rios...">face</i>
                    </div>
                    <div class="col s12 m6 l4 center hoverable waves-effect waves-light">
                        <i class="material-icons medium" title="Receitas m&eacute;dica simples...">receipt</i>
                    </div>
                    <div class="col s12 m6 l4 center hoverable waves-effect waves-light">
                        <i class="material-icons medium" title="Receitas de controle especial...">book</i>
                    </div>
                    <div class="col s12 m6 l4 center hoverable waves-effect waves-light">
                        <i class="material-icons medium" title="Impress&otilde;es de receitas">print</i>
                    </div>
                    <div class="col s12 m6 l4 center hoverable waves-effect waves-light">
                        <i class="material-icons medium" title="Sobre o sistema...">live_help</i>
                    </div>
                </div>            
            </section>